#font{
    font-family: 'Roboto Mono', monospace;
}

.weatherTitle {
    background-color: slategray;
    color: cornsilk;
    
}

.navbar{
    margin-right: 0px;
}

.findCity {
    font-size: 30px;
}